@import 'ui-variables';

.unsafe-component-exception {
  padding: @padding-base-vertical @padding-base-horizontal;

  background-color: var(--danger-50);
  color: var(--danger-500);

  .message {
    font-weight: @font-weight-semi-bold;
    user-select: text;
  }
  .trace {
    font-size: 0.9em;
    white-space: pre;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: text;
  }
}
